<h3>Quick links</h3>

<ul>
<li><a href="http://alioth.debian.org/frs/?group_id=30954">Download area</a></li>
<li><a href="http://github.com/PyMVPA/PyMVPA">Git repository</a></li>
<li><a href="http://lists.alioth.debian.org/pipermail/pkg-exppsy-pymvpa">Mailing list archive</a></li>
<li><a href="http://mloss.org/software/view/76/">PyMVPA@MLOSS.org</a></li>
<li><a href="http://software.incf.net/software/pymvpa/home">PyMVPA@INCF</a></li>
<li><a href="http://www.nitrc.org/projects/pymvpa/">PyMVPA@NITRC</a></li>
<li><a href="http://freshmeat.net/projects/pymvpa/">PyMVPA@Freshmeat.net</a></li>
</ul>

<script type="text/javascript" src="http://www.ohloh.net/projects/16363/widgets/project_partner_badge"></script>

<h3>Search mailing list archive</h3>
<script type="text/javascript">
  function mlsearch(curobj)
  {
    curobj.q.value="site:lists.alioth.debian.org/pipermail/pkg-exppsy-pymvpa "+curobj.userquery.value
}
</script>
<form action="http://www.google.com/search" method="get" onSubmit="mlsearch(this)">
<input name="userquery" size="18" type="text" /> <input type="submit" value="Go" />
<input name="q" type="hidden" />
</form>


