{% extends "!page.html" %}

{% block body %}
 <!-- HEADNOTES -->
 <div class='admonition note'>
  This content refers to the previous stable release of PyMVPA.
  Please visit <A HREF='http://www.pymvpa.org'>www.pymvpa.org</A> for the most
  recent version of PyMVPA and its documentation.</div>
{{ super() }}
{% endblock %}

